<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>11B98DC5-4462-4E41-98F9-5E93E17C2379</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bd</string>
			<key>text</key>
			<string>百度一下{query}</string>
			<key>url</key>
			<string>https://www.baidu.com/s?wd={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2D33DE3B-D086-4A1D-BAC6-7EBC17E888ED</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>json.cn</string>
			<key>text</key>
			<string>Json.cn</string>
			<key>url</key>
			<string>https://www.json.cn</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>68CF1BEA-AA8C-4F1A-AD9B-42B7D706D442</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>yq</string>
			<key>text</key>
			<string>语雀</string>
			<key>url</key>
			<string>https://www.yuque.com/ppabner/coder/how_to_download_runtime</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>73CC2113-855E-4CC7-ACFC-875170133C83</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>text</key>
			<string>GitHub</string>
			<key>url</key>
			<string>https://github.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7BC7A24A-1E4D-44F2-81F4-1E72F6F54718</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bd</string>
			<key>text</key>
			<string>百度一下</string>
			<key>url</key>
			<string>https://www.baidu.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8A74995E-7993-4C97-B6D7-8EB9B3BDA2BC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>start.me_swift</string>
			<key>text</key>
			<string>start.me---swift</string>
			<key>url</key>
			<string>https://start.me/p/GEPMxK/swift</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9783C87C-44D5-4672-8469-ED97B26AF5C8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>text</key>
			<string>GitHub{query}</string>
			<key>url</key>
			<string>https://github.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BF5E204C-97BB-4F22-8A14-6D9BD192BCB7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>start.me</string>
			<key>text</key>
			<string>Start.me首页</string>
			<key>url</key>
			<string>https://start.me/p/X2deXw</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
